table {
    width: 100%;
    margin-top: 25px;
}

th, td {
    text-align: left;
    border-collapse: collapse;
    padding: 0px 40px 30px 0px;
    vertical-align: middle;
    caption-side: bottom;
}


/* FUENTES UTILIZADAS */
@font-face {
    font-family: 'opificio';
    src: url('fuentes/opificioneue.eot'); /* IE9 Compat Modes */
    src: url('fuentes/opificioneue.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fuentes/opificioneue.woff') format('woff'), /* Modern Browsers */
        url('fuentes/opificioneue.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('fuentes/opificioneue.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'calibri';
    src: url('fuentes/calibri.eot'); /* IE9 Compat Modes */
    src: url('fuentes/calibri.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fuentes/calibri.woff') format('woff'), /* Modern Browsers */
        url('fuentes/calibri.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('fuentes/calibri.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'calibrilight';
    src: url('fuentes/calibril.eot'); /* IE9 Compat Modes */
    src: url('fuentes/calibril.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fuentes/calibril.woff') format('woff'), /* Modern Browsers */
        url('fuentes/calibril.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('fuentes/calibril.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/* GENERALES */
fieldset {
    margin-top: 25px;
}
li {
    list-style: none;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #0876bc;
    text-decoration: underline;
}

object {
    border-radius: 50%; /* Borde redondeado */
    -moz-transition: all 500ms;
    -webkit-transition: all 500ms;
    -o-transition: all 500ms;
}
object:hover {
    border-radius: 0; /* Con esto eliminamos el borde redondeado */
    -moz-transition: all 500ms;
    -webkit-transition: all 500ms;
    -o-transition: all 500ms;
}

.bill {
    border: 1px solid #474746;
}

.billc {
    padding: 22px 40px 30px 22px;
}

p {
    font-size: 14;
    line-height: 1.75;
}

h1 {
    font-family: 'opificio';
    padding-bottom: 20px;
    color: #474746;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'calibri';
    font-weight: 700;
}

/* LOGO */
#logo {
    margin-left: 100px;
}

#logo:hover {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}	

/* ARTICLE */
article {
    margin-bottom: 40px;
    font-family: 'calibrilight';
    text-align: justify;
}

article > header {
    font-family: 'calibri';
}

/* BODY */
body {
    font-family: 'opificio';
    margin: 0;
    padding: 0;
}

body > header {
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 7px;   
    padding-bottom: 7px;
    width: 100%;
    background-color: #0876bc;
}

.headerScroll {
    position: fixed;
    top: -25px;
    left: 0;
    z-index: 1000;
}

.bodyScroll {
    margin-top: 118px;
}

body > footer {
    float: left;
    margin-top: 60px;
    padding-top: 40px;
    padding-bottom: 30px;
    background-color: #f3f3f3;
    text-align: center;
    width: 100%;
}

/* NAVEGACIÓN PRINCIPAL */
#navp {
    margin-right: 100px;
    margin-top: 18px;
    float: right;
    color: white;
}

#navp a {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 7px;
    padding-left: 7px;
    color: white;
}

#navp a:hover {
    background-color: #474746;
    border-radius: 3px;
}

#ultimoElemento {
    margin-left: 60px;
}

/* ZONA CENTRAL */
#zonaCentral {
    margin-left: 100px; 
    margin-right: 100px;
    float: left;
    width: auto;
}

/* SECTION */
section > footer a {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 7px;
    padding-left: 7px;
}

section > footer a:hover {
    background-color: #aeaeae;
    color: #ffffff;
    text-decoration: none;
}

header a:hover {
    text-decoration: none;
}

