<!doctype html>
<html ng-app="MyApp">
    <head>
        <meta charset="utf-8" />
        <script src="js/libs/angular.js/angular.js" type="text/javascript"></script>
        <script src="js/libs/satellizer.js" type="text/javascript"></script>
        <script src="js/servicios.js" type="text/javascript"></script>
        <title>CLIENTE EJERCICIO REST 1</title>
    </head>
    <body style="background: graytext">
        <h1>CLIENTE EJERCICIO REST 1</h1>
        <div  ng-controller="MyCtrl">
            <div>
                <form class="form-horizontal" role="form" ng-submit="login()">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Id</label>
                        <div class="col-md-4">
                            <input type="number" class="form-control" name="id"
                                   ng-model="id" min="1" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Email</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="email"
                                   ng-model="email" />
                        </div>
                    </div>
                    <div class="form-group">								
                        <div style="padding-left:110px">
                            <input type="submit" value="Login" class="btn btn-primary"/>
                        </div>
                    </div>
                </form>
            </div>
            <div>
                <h3>Obtener todos los usuarios registrados</h3>
                <form ng-submit="getUsers()">
                    <input type="submit" value="View all Users">
                </form>
            </div>
            <br><br>
            <div>
                <h3>Obtener datos de un usuario por id</h3>
                <form ng-submit="getUser()">
                    <label class="col-md-2 control-label">Id</label>
                    <input type="number" name="id" id="id" value="1" required>
                    <input type="submit" value="View Users by id">
                </form>
            </div>
            <div>
                <h3>OUTPUT:</h3>
                <ul>
                    <li ng-repeat="user in results">
                        <p ng-bind="user.id"></p>
                        <p ng-bind="user.surname"></p>
                        <p ng-bind="user.name"></p>
                        <p ng-bind="user.phone"></p>
                        <p ng-bind="user.email"></p>
                        <p ng-bind="user.address"></p>
                    </li>
                </ul>
                <p ng-bind="user.id"></p>
                <p ng-bind="user.surname"></p>
                <p ng-bind="user.name"></p>
                <p ng-bind="user.phone"></p>
                <p ng-bind="user.email"></p>
                <p ng-bind="user.address"></p>
            </div>
            <br><br>
            <div>
                <h3>Eliminar todos los usuarios</h3>
                <form ng-submit="deleteAllUsers()">
                    <input type="submit" value="Delete all users">
                </form>
            </div>
            <br><br>
            <div>
                <h3>Eliminar un usuario por id</h3>
                <form ng-submit="deleteUser()">
                    <label class="col-md-2 control-label">Id</label>
                    <input type="number" name="id" id="id2" value="1" required>
                    <input type="submit" value="Delete user by id">
                </form>
            </div>
            <br><br>
            <div>
                <h3>Añadir un usuario</h3>
                <form class="form-horizontal" role="form" ng-submit="newUser()">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Id</label>
                        <div class="col-md-4">
                            <input type="number" class="form-control" name="id"
                                   ng-model="id" min="1" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Surname</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="surname"
                                   ng-model="surname" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Name</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="name"
                                   ng-model="name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Phone</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="phone"
                                   ng-model="phone" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Email</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="email"
                                   ng-model="email" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Address</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="address"
                                   ng-model="address" />
                        </div>
                    </div>
                    <div class="form-group">								
                        <div style="padding-left:110px">
                            <input type="submit" value="Add user" class="btn btn-primary"/>
                        </div>
                    </div>
                </form>
            </div>
            <br><br>
            <div>
                <h3>Modificar datos de usuario</h3>
                <form class="form-horizontal" role="form" ng-submit="updateUser()">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Id</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="surname" id="id3" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Surname</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="surname"
                                   ng-model="surname" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Name</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="name"
                                   ng-model="name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Phone</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="phone"
                                   ng-model="phone" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Email</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="email"
                                   ng-model="email" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Address</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="address"
                                   ng-model="address" />
                        </div>
                    </div>
                    <div class="form-group">								
                        <div style="padding-left:110px">
                            <input type="submit" value="Modify user" class="btn btn-primary"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>